
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: max(1200px , 100vw);
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;

}
.main .box{
    height: 90vh;
    width: 100%;
    opacity: 0.60;
    position: absolute;
    top: 0;
    background-color: black; */

}
nav{
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 62px;

    align-items: center;
}
nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height: 100%;
    
    font-family: "Martel", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 30px;
}
.separation{
    height: 3px; ;
    background-color:rgb(62, 59, 59);
}
.btn{
    padding: 3px ,8px;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    padding: 3px 20px;

}
.btn-red{
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 3px  24px;
    font-size: 20px;
}
.btn-red-sm{
    background-color:  red;
    color: white;
    padding: 3px 20px;
   

}
.main input{
    border-radius: 4px;
    padding: 7px 15px 8px 14px;
    font-weight: 400;
    border: 1px solid rgba(30, 28, 28, 0.7);
    color: white;

    font-size: 12px;
    background-color: rgba(23,23,23,0.5);

}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.hero> :nth-child(1){
    font-weight: 900;
    font-size: 48px;
}
.hero> :nth-child(2){
    font-weight: 900;
    font-size: 48px;
}
.hero> :nth-child(3){
    font-weight: bolder;
    font-size: 20px;
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color:white;
    align-items: center;
    
}
@media screen  and (max-width: 500 px){
    body{
        background-color: red;
    }
    
}
.secImg{
    
    position: relative;
}
.secImg img{
    width: 30vw;
    position: relative;
    z-index: 10;
    
    

}

.secImg video{
    position: absolute;
    top: 51px;
    right: 0;
    
    width: 30vw;
    height:  240px;
    overflow: hidden;
  
}
section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}
section.first > div :nth-child(1){
    font-size: 38px;
    font-weight: bolder;
}
section.first > div :nth child (2){
    font-size: 24px;
}
.faq{
    background: black;
    color: white;
    padding: 34px;
    
}
.faqbox:hover{
    background-color: #414141;
    transition: all ;
    color: white;
}
.faq h2{
    text-align: center;
    font-size: 28px;
}
.faqbox {
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 20px;
    max-width: 60vw;
    margin: 10px auto;

}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}

footer .questions{
    margin: 34px 0;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
    color: white;
    padding: 14px;
    
}
.footer a{
    font-size: 14px;
    color: white;

}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;

}